body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.main-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  padding: 15px 20px;
  height: 45px;
  background-color: #030372;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu-container {
  display: none;
}

.left {
  display: flex;
  gap: 50px;
}

.logo {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.links label {
  font-size: 14px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown2 {
  gap: 60px;
}

.dropdown svg {
  width: 15px;
  height: 15px;
}

.links a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.link-disabled {
  pointer-events: none;
  opacity: 0.6;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 60px;
}

.contact {
  margin: 0;
  display: inline;
  font-size: 14px;
}

.contact span {
  margin: 0;
  color: #e8c91f;
}

.right .search {
  width: 100%;
  position: relative;
}

.right .search input {
  width: 100%;
  padding: 5px 5px;
}
.right .search svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 0;
  color: #010101;
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero p {
  margin: 0 0 10px;
  color: #030372;
  font-size: 16px;
  font-weight: 500;
}

.hero h4 {
  margin: 0 0 30px;
  color: #030372;
  font-size: 34px;
  font-weight: 600;
}

.hero-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 35px;
}

.hero-search a {
  color: #010101;
  text-decoration: none;
}

.hero-search::before {
  content: "";
  height: 100%;
  width: 35px;
  background-color: #e8c91f;
  border-bottom-left-radius: 100%;
}

.hero-search .center-element {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex-grow: 1;
}

.hero-search .center-element p {
  margin: 0;
}

.hero-search .center-element #price,
.hero-search .center-element #pays {
  border: 1px solid #030372;
  padding: 2px;
}

.hero-search::after {
  content: "";
  height: 100%;
  width: 120px;
  background-color: #e8c91f;
  border-bottom-right-radius: 85%;
}

@media screen and (max-width: 1096px) {
  .hero-search {
    width: 70%;
  }
}

@media screen and (max-width: 940px) {
  .hero-search {
    width: 80%;
  }
}

@media screen and (max-width: 830px) {
  header .left {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  header .right {
    display: none;
  }

  .hero-search {
    width: 90%;
  }
}

@media screen and (max-width: 730px) {
  .dropdown2 {
    gap: 10px;
  }
  .hero-search {
    height: 200px;
  }
  .hero-search::after {
    width: 20px;
    border-bottom-right-radius: 0%;
  }
  .hero-search::before {
    width: 20px;
    border-bottom-left-radius: 0%;
  }
  .hero-search .center-element {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .hero-search .center-element p {
    margin-top: 20px;
    font-weight: 600;
  }

  .hero-search .center-element #price {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 540px) {
  header .left {
    justify-content: flex-start;
    width: auto;
  }

  .left .links {
    display: none;
  }

  .hamburger-menu-container {
    display: block;
    width: 25px;
    height: 25px;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  .hero h4 {
    text-align: center;
  }
}
